.orderdetails-page  .order-detail-row {
  background-color: #FFCE00;
  border-radius: 10px;
  color: #07509E;
}

.orderdetails-page .modal-content {
  background-color: #FEDF5A;
  border-radius: 10px;
  color: #07509E;
}

.orderdetails-page .modal-header {
  border-bottom: 1px solid #07509E;
}

.orderdetails-page .modal-open {
  height: 100vh;
  overflow: hidden;
}

.orderdetails-page hr {
  border-bottom: 1px dotted #07509E;
}