.reset-password {
  margin-top: 80px;
  padding-top: 80px;
  color: #07509E;
}

.reset-password .card-body {
  background-color: #FFCE00;
}

.reset-password h4{
  font-family: 'NotoSansBold';
  font-size: 19px;
}

.reset-password input[type=email], .reset-password input[type=password] {
  border: 1px solid #07509E;
  box-shadow: none;
  background-color:transparent;
}

.reset-password button{
  background-color: #07509E;
  color: #ffffff;
}
.reset-password button:hover{
  background-color: #07509E;
  color: #ffffff;
  transform: scale(1.05);
}
.reset-password button:active{
  background-color: #07509E;
  color: #ffffff;
}